.ms-cst-chars-layout .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.ms-cst-chars-layout .md-card {
    padding: 5px;
}

.md-card-media {
    background-repeat: no-repeat;
    background-size: contain;
}

.c-custom-table .md-table-head:not(:last-child):after
{
    border-right: 1px solid #e8e8e8;
    content: " ";
    width: 100%;
    height: calc(100% - 10px);
    position: absolute;
    top: 0px;
    left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.c-custom-table .md-table-row > .md-table-cell:not(:last-child):after
{
    border-right: 1px solid #e8e8e8;
    content: " ";
    width: 100%;
    height: calc(100% - 10px);
    position: absolute;
    top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.c-custom-table .md-table-head-container .md-table-cell-container > .md-checkbox {
    padding-left: 10px;
}

.c-custom-table .md-table-cell-container
{
    padding: 6px 10px 6px 10px !important;
}

.c-custom-table .md-table-head-label
{
    padding-right: 10px;
    padding-left: 10px !important;
}

.c-custom-table .md-table-head.md-table-cell-selection > .md-table-head-container {
    margin-left: -9px;
}

.c-custom-table .md-table-cell.tac > .md-table-cell-container {
    text-align: center;
}

.mdzifirst {
    z-index: 20 !important;
}

.md-menu-content {
    z-index: 11;
}

.c-table-toolbar {
    min-height: 17px;
    background-color: #ffcbcb !important;
    border-radius: 3px;
    margin-top: 5px;
}



.c-fade-enter-active, .c-fade-leave-active {
    transition: opacity .2s, transform 200ms;
    opacity: 1;
    transform: translate(0, 0);
}
.c-fade-enter, .c-fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translate(0, -30px);
}

.c-small-table-cell .md-table-cell {
    height: initial;
}

.md-dialog.c-medium-dialog .md-dialog-container {
    max-width: 768px;
}

.c-area-selection {
    border: 1px dashed #bdbcbc;
    background-color: rgba(233, 255, 249, 0.36);
    border-radius: 5px;
}

.md-icon.md-theme-default.md-icon-font.md-custom-primary {
    color: #969696;
}


.md-icon.md-theme-default.md-icon-font.md-custom-secondary {
    color: #494949;
}

.md-custom-size-1 {
    font-size: 18px !important;
}

.md-custom-icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
}

.md-custom-small {
    width: 14px;
    min-width: 14px;
    min-height: 14px;
    height: 14px;
    font-size: 14px !important;
}

.c-context-item-content {
    display: flex;
    align-items: center;
}

.c-context-item-content > *:not(:last-child) {
    margin-right: 5px;
}

.c-context-item {
    align-items: center;
}

.c-context-item.c-small-padding {
    padding: 5px 5px !important;
    padding-right: 10px !important;
}