@import "variables";

body {
    //background-color: #2d2d2d;
    background-color: #1a1a1a;
}

.wd {
    &.flex-column {
        flex-direction: column;
    }

    &.flex {
        display: flex;
    }

    &.fjs {
        justify-content: start;
    }

    &.flex-col-sb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.flex-center-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.flex-justify-sb {
        justify-content: space-between;
    }

    &.flex-justify-center {
        justify-content: center;
    }

    &.flex-justify-end {
        justify-content: flex-end;
    }

    &.flex-align-center {
        align-items: center;
    }


    &.flex-align-end {
        align-items: end;
    }

    &.flex-h-top {
        align-items: start;
    }

    &.fs {
        width: 100%;
        height: 100%;
    }

    &.f-height {
        height: 100%;
    }

    &.f-width {
        width: 100%;
    }

    &.half-w {
        width: 50%;
    }

    &.fms {
        min-width: 100%;
        min-height: 100%;
    }

    &.relative {
        position: relative;
    }

    &.absolute {
        position: absolute;
    }

    &.overflow-hidden {
        overflow: hidden;
    }

    &.overflow-auto {
        overflow: auto;
    }

    &.box-sizing {
        box-sizing: border-box;
    }

    &.padding-box {
        box-sizing: content-box;
    }

    &.off-user-select {
        user-select: none;
    }

    &.text-align-center {
        text-align: center;
    }

    &.top {
        top: 0;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.cursor-pointer {
        cursor: pointer;
    }

    &.nowrap {
        white-space: nowrap;
    }

    &.text-right {
        text-align: right;
    }

    &.hidden {
        display: none;
    }

    &.initial-height {
        height: initial !important;
    }

    &.initial-line-height {
        line-height: 22px !important;
    }
}

.wd-hidden {
    display: none !important;
}

.wd-bg-default {
    background-position: center;
    //background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}


.left-top-force {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

.fade, .fade2 {
    &-enter-active, &-leave-active {
        transition: opacity 300ms;
    }

    &-enter, &-leave-to {
        opacity: 0;
    }

    &-enter-to, &-leave {
        opacity: 1;
    }
}

.wd-gl-2c {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
    padding: 0 10px;
}

.wd-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar:hover {

    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.0);
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 200ms;
        width: 8px;
        border-radius: 3px;
        background-color: rgba(158, 140, 140, 0.5);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(205, 166, 87, 0.5);
    }
}

.wd-flex-horizontal-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wd-flex-vertical-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wd-empty-state {
    .wd-empty-state__content {
        & > *:not(:last-child) {
            margin-bottom: 5px;
        }

        .wd-icon {
            margin: 10px;
        }

        .wd-label {
            font-size: 13pt;
        }
    }
}

.wd-small-switch {
    &.md-switch {
        margin: 8px 0 8px 0;

        .md-switch-thumb::before,
        .md-switch-thumb > .md-ripple,
        {
            width: 32px !important;
            height: 32px !important;
        }
    }
}

.wd-list-margins,
.wd-list-margins > .wd-table-cell__content,
{
    display: flex;
    & > *:not(:last-child) {
        margin-right: 5px;
    }
}

.wd-list-margins-x1,
.wd-list-margins-x1 > .wd-table-cell__content,
{
    display: flex;
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.wd-icon-button {
    &,
    &-x1,
    &-x2,
    {
        cursor: pointer;
    }

    &-x1 > i,
    &-x2 > i,
    & > i
    {
        color: $fg-primary-2 !important;
        &:hover {
            color: $fg-theme-primary-solid !important;
        }
    }

    i {
        width: 18px;
        height: 18px;
        min-width: 18px;
        font-size: 18px !important;

    }

    &-x1 > i {
        width: 22px;
        height: 22px;
        min-width: 22px;
        font-size: 22px !important;
    }

    &-x2 > i {
        width: 26px;
        height: 26px;
        min-width: 26px;
        font-size: 26px !important;
    }
}

.wd-capital-letter::first-letter {
    text-transform: capitalize;
}

.wd-hint-negative {
    color: $hint-color !important;
}

.wd-hint-positive {
    color: $hint-color-positive !important;
}