@import "~vue-material/dist/theme/engine";

$eve-link-color-default: #333;
$eve-link-color-top-mass-0: #333;
$eve-link-color-top-mass-1: #5a4520;
$eve-link-color-top-mass-2: #672c2c;
$eve-link-color-middle-mass-0: #333;
$eve-link-color-middle-mass-1: #333;
$eve-link-color-middle-mass-2: #333;
$eve-link-color-middle-time-0: #5c5c5c;
$eve-link-color-middle-time-1: #ff00cd;

$eve-link-color-top-mass-1-time-1: #796300;
$eve-link-color-top-mass-2-time-1: #8c1717;
$eve-link-color-temp: md-get-palette-color(orange, 500);

$eve-effect-pulsar: #40aef5;
$eve-effect-magnetar: #f058f8;
$eve-effect-wolfRayet: #ec591c;
$eve-effect-blackHole: #1b1b1b;
$eve-effect-cataclysmicVariable: #ffea90;
$eve-effect-redGiant: #ff6464;
$eve-effect-dazhLiminalityLocus: #ff6464;
$eve-effect-imperialStellarObservatory: #6991ce;
$eve-effect-stateStellarObservatory: #6991ce;
$eve-effect-republicStellarObservatory: #6991ce;
$eve-effect-federalStellarObservatory: #6991ce;

$eve-wh-type-color-high: #5dffd2;
$eve-wh-type-color-low: #f79400;
$eve-wh-type-color-null: #ff5454;
$eve-wh-type-color-c1: #69bfce;
$eve-wh-type-color-c2: #6991ce;
$eve-wh-type-color-c3: #a8cb70;
$eve-wh-type-color-c4: #e39c68;
$eve-wh-type-color-c5: #de8686;
$eve-wh-type-color-c6: #e76363;
$eve-wh-type-color-c13: #421d9c;
$eve-wh-type-color-drifter: #ff44f6;
$eve-wh-type-color-thera: #ffffff;

$eve-security-color-10: #2beeff;
$eve-security-color-09: #2bffb5;
$eve-security-color-08: #2bff72;
$eve-security-color-07: #59ff2b;
$eve-security-color-06: #a7ff2b;
$eve-security-color-05: #fffb2b;
$eve-security-color-04: #ffc32b;
$eve-security-color-03: #ffaa2b;
$eve-security-color-02: #ff802b;
$eve-security-color-01: #ff5c2b;
$eve-security-color-00: #ff4444;
$eve-security-color-m-01: #ff4444;
$eve-security-color-m-02: #ff4444;
$eve-security-color-m-03: #ff4444;
$eve-security-color-m-04: #ff4444;
$eve-security-color-m-05: #ff4444;
$eve-security-color-m-06: #ff4444;
$eve-security-color-m-07: #ff4444;
$eve-security-color-m-08: #ff4444;
$eve-security-color-m-09: #ff4444;
$eve-security-color-m-10: #ff4444;

$eve-solar-system-status-unknown: transparent;
$eve-solar-system-status-friendly: #3bbd3952;
$eve-solar-system-status-warning: #906518a6;
$eve-solar-system-status-targetPrimary: #b439ff6b;
$eve-solar-system-status-targetSecondary: rgba(255, 57, 249, 0.35);
$eve-solar-system-status-dangerousPrimary: #d54040;
$eve-solar-system-status-dangerousSecondary: #fd54437a;

$eve-solar-system-status-color-unknown: transparent;
$eve-solar-system-status-color-friendly: #3bbd39;
$eve-solar-system-status-color-warning: #ffb93b;
$eve-solar-system-status-color-targetPrimary: #b439ff;
$eve-solar-system-status-color-targetSecondary: rgba(255, 57, 249, 1);
$eve-solar-system-status-color-dangerousPrimary: #d54040;
$eve-solar-system-status-color-dangerousSecondary: #fd5443;