.md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

.background {
    background-image: url(../images/bg2.png);
    background-position: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.md-list-item[active="true"] {
    background-color: var(--md-theme-default-accent);

}

.md-list-item[active="true"] .md-icon-font {
    color: var(--mp-foreground-active)
}

.md-list-item[active="true"] .md-list-item-text {
    color: var(--mp-foreground-active)
}

.leaflet-div-icon {
    border: initial !important;
    background: initial !important;
}

.mp-ll-round-element {
    transform: translate(-20px, -20px);
    width: 40px;
    height: 40px;
    background-color: #6c9cec;
    border: #2079a5 3px solid;
    box-sizing: border-box;
    border-radius: 100%;
}

.off-events {
    pointer-events: none;
}

.flex-vertical {
    flex-direction: column;
}

.flex-justify {
    justify-content: space-between;
}

.fh {
    height: 100%;
}


.md-card-media {
    background-repeat: no-repeat;
    background-size: contain;
}

.c-custom-table .md-table-head:not(:last-child):after
{
    border-right: 1px solid #e8e8e8;
    content: " ";
    width: 100%;
    height: calc(100% - 10px);
    position: absolute;
    top: 0px;
    left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.c-custom-table .md-table-row > .md-table-cell:not(:last-child):after
{
    border-right: 1px solid #e8e8e8;
    content: " ";
    width: 100%;
    height: calc(100% - 10px);
    position: absolute;
    top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.c-custom-table .md-table-head-container .md-table-cell-container > .md-checkbox {
    padding-left: 10px;
}

.c-custom-table .md-table-cell-container
{
    padding: 6px 10px 6px 10px !important;
}

.c-custom-table .md-table-head-label
{
    padding-right: 10px;
    padding-left: 10px !important;
}

.c-custom-table .md-table-head.md-table-cell-selection > .md-table-head-container {
    margin-left: -9px;
}

.c-custom-table .md-table-cell.tac > .md-table-cell-container {
    text-align: center;
}

.mdzifirst {
    z-index: 20 !important;
}

.md-menu-content {
    z-index: 11;
}

.c-table-toolbar {
    min-height: 17px;
    background-color: #ffcbcb !important;
    border-radius: 3px;
    margin-top: 5px;
}



.c-fade-enter-active, .c-fade-leave-active {
    transition: opacity .2s, transform 200ms;
    opacity: 1;
    transform: translate(0, 0);
}
.c-fade-enter, .c-fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translate(0, -30px);
}

.c-small-table-cell .md-table-cell {
    height: initial;
}

