@import "variables";

.wd {
    &.fg-primary {
        color: $fg-primary;
    }

    &.fg-secondary {
        color: $fg-secondary;
    }

    &.fg-contrast {
        color: $fg-contrast;
    }


    &.fg-contrast-2 {
        color: $fg-contrast-2;
    }

    &-layout-primary {
        color: $fg-primary;
        background-color: $bg-primary;
        border-color: $border-color-primary-6;
    }

    &-layout-secondary {
        color: $fg-primary !important;
        background-color: $bg-secondary !important;
        border-color: $border-color-primary-6 !important;
    }

    &-color-primary-2 {
        color: $fg-primary-2;
    }

    &-color-accent {
        color: $fg-theme-primary-solid;
    }
}

.fg-negative {
    color: $fg-negative !important;
}