@import "eveVariables";
@import "~vue-material/dist/theme/engine";
$hint-color: md-get-palette-color(red, 300);
$hint-color-positive: md-get-palette-color(green, 300);

$bg-primary: #272727;
$bg-secondary: #2f2f2f;
$bg-3: #454545;
$bg-3-minor: rgba(68, 68, 68, 0.53);
$bg-3-major: #5c5c5c;
$bg-transparent: rgba(0,0,0,0);

$fg-contrast: #ccc;
$fg-contrast-2: #e3e3e3;
$fg-primary: #aaaaaa;
$fg-primary-1: #9e9e9e;
$fg-primary-2: #868686;
$fg-primary-3: #656565;
$fg-secondary: #5c5c5c;
$fg-positive: #72fc72;
$fg-negative: #fa6161;
$fg-negative2: #ff9090;
$fg-theme-primary: transparentize(md-get-palette-color(orange, 400), 0.7);
$fg-theme-primary-solid: md-get-palette-color(orange, 400);

$border-color-primary-1: #9e9e9e;
$border-color-primary-2: #868686;
$border-color-primary-3: #656565;
$border-color-primary-4: #5a5a5a;
$border-color-primary-5: #4b4b4b;
$border-color-primary-6: #343434;

$color-online: #4fa224de;

$font-primary: sans-serif;

$font-size-small: 9px;
$font-size-small-medium: 10px;
$font-size-small-large: 11px;
$font-size-medium-small: 13px;
$font-size-medium: 14px;
$font-size-medium-large: 15px;
$font-size-large-small: 18px;
$font-size-large-medium: 20px;
$font-size-large: 22px;
