$bg-primary: #272727;
$bg-secondary: #2f2f2f;
$bg-3: #454545;
$bg-3-minor: rgba(68, 68, 68, 0.53);


$fg-primary: #aaa;
$fg-primary-1: #9e9e9e;
$fg-primary-2: #868686;
$fg-primary-3: #656565;
$fg-secondary: #3e3e3e;

$border-color-primary-1: #9e9e9e;
$border-color-primary-2: #868686;
$border-color-primary-3: #656565;
$border-color-primary-4: #5a5a5a;
$border-color-primary-5: #4b4b4b;
$border-color-primary-6: #343434;